* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #121212;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  padding: 2rem;
}
